<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {name: 'Editing'}); %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%- include('partials/editNav'); %>

    <section id="notify" class="section">
            <div class="section__inner">
                <%- include('partials/sections/editing/memberNotify', memberNotifications); %> 
            </div>  
        </section>

    <section id="news" class="section">
        <div class="section__inner">
            <%- include('partials/sections/editing/news', news); %> 
        </div>  
    </section>

    <section id="servers" class="section">
         <div class="section__inner">
        <%- include('partials/sections/editing/server', servers); %>
        </div>
    </section>

    <section id="roster" class="section">
         <div class="section__inner">
        <%- include('partials/sections/editing/roster',  members); %>
        </div>
    </section>

    <section id="donate" class="container section">
         <div class="section__inner">
        <%- include('partials/sections/editing/donators', donators); %>
        </div>
    </section>
    <script>
        const ignoreCollapse = true;
        document.querySelector('.nav').classList.add('collapse');
    </script>

    <%- include('partials/footer'); %>
</body>

</html>
