<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {name: 'Home'}); %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%- include('partials/nav'); %>

    <%- include('partials/header'); %>

    <section id="news" class="container content-section text-center">
        <%- include('partials/sections/news', {news: news}); %>
    </section>


    <!-- Download Section -->
    <section id="forum" class="content-section text-center">
        <%- include('partials/sections/forum'); %>
    </section>

    <section id="about" class="container content-section text-center">
        <%- include('partials/sections/about'); %>
    </section>

    <section id="join" class="container content-section text-center">
        <%- include('partials/sections/join'); %>
    </section>


    <!-- Contact Section -->
    <section id="servers" class="content-section text-center">
        <%- include('partials/sections/servers'); %>
    </section>

    <section id="rules" class="container content-section text-center">
        <%- include('partials/sections/rules'); %>
    </section>

    <section id="links" class="content-section text-center">
        <%- include('partials/sections/links'); %>
    </section>


    <section id="cndmsg" class="container content-section text-center">
        <%- include('partials/sections/commandmsg'); %>
    </section>

    <section id="roster" class="content-section text-center">
        <%- include('partials/sections/roster', {members: members, squads:squads}); %>
    </section>

    <%- include('partials/sections/donators', {donators: donators}); %>
    
    <%- include('partials/footer'); %>
</body>

</html>
