<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {name: 'Home'}); %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%- include('partials/nav'); %>
    <%- include('partials/header'); %>

    <section id="news" class="section">
        <div class="section__inner">
            <%- include('partials/sections/news', news); %>
        </div>
    </section>

    <section id="forum" class="section">
        <div class="section__inner">
            <%- include('partials/sections/forum'); %>
        </div>
    </section>

    <section id="about" class="section">
        <div class="section__inner">
            <%- include('partials/sections/about'); %>
        </div>
    </section>

    <section id="join" class="section">
        <div class="section__inner">
            <%- include('partials/sections/join'); %>
        </div>
    </section>

    <section id="servers" class="section">
        <div class="section__inner">
            <%- include('partials/sections/servers', servers); %>
        </div>
    </section>

    <section id="rules" class="section">
        <div class="section__inner">
            <%- include('partials/sections/rules'); %>
        </div>
    </section>

    <section id="links" class="section">
        <div class="section__inner">
            <%- include('partials/sections/links'); %>
        </div>
    </section>

    <section id="cmdmsg" class="section">
        <div class="section__inner">
            <%- include('partials/sections/commandmsg'); %>
        </div>
    </section>

    <section id="roster" class="section">
        <div class="section__inner">
            <%- include('partials/sections/roster', {members: members, squads:squads}); %>
        </div>
    </section>

    <section id="donate" class="section">
        <div class="section__inner">
            <%- include('partials/sections/donate'); %>
        </div>
    </section>

    <section id="donators" class="section">
        <div class="section__inner">
            <%- include('partials/sections/donators', donators); %>
        </div>
    </section>
    
    <%- include('partials/footer'); %>
</body>

</html>
