<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {name: 'Members'}); %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%- include('partials/nav', {nothome:true}); %>
    <section class="section">
        <div class="section__inner">
             <% if(!logged){ %>
                <h3>Login</h3>
                <form method="post" action="members"  class="form-group">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <th scope="row"><input class="form-control" type="text" name="name" placeholder="User" /></th>
                    <th scope="row"><input class="form-control" type="password" name="pass" placeholder="Password" /></th>
                    <td></td><button class="btn btn-default btn-lg"t type="submit">Login</button></td>
                </form>
            <% } else { %>
                <button class="btn notification member">Enable Member Push Notifications</button>
                <hr>
                <%- include('partials/sections/notifications', memberNotifications); %> 
            <% } %>
        </div>
    </section>
    <script>
        const ignoreCollapse = true;
        document.querySelector('.nav').classList.add('collapse');
        const csrf ='<%= csrfToken %>';
    </script>
    <%- include('partials/footer'); %>

</body>

</html>