<h2>News &amp; Events</h2>
<% news.forEach((item,index) => {if(index < 3) { %>
    <h3>
      <%= item.title %>
        <div class="date">
          <%= item.date%>
        </div>
    </h3>
    <% if(item.imagelink != "") {%>
      <img alt="Image of <%= item.title %>" class="newsimg lazyload" data-src="<%= item.imagelink %>" />
      <%}%>
        <p>
          <%- item.text %>
        </p>
        <a class="btn btn-default btn-lg" href="<%= item.link%>" target="_blank">
          <% if(item.event) {%>
            Sign up
            <% } else { %>
              Read More
              <%}%>
        </a>
        <hr>
  <% }}) %>
<a class="btn btn-default btn-lg" href="http://forums.iron-fists.eu/index.php" target="_blank">View More</a>