<div class="roster-section download-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 background-shadow">
            <h2>Roster</h2>
            <% squads.forEach(squad => { %>
              <h3><%= squad.name%></h3>
              <table class="table table-inverse">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Role</th>
                  <th>Enlisted</th>
                </tr>
              </thead>
              <tbody>
                  <% members.filter(member => member.squad === squad.id).forEach(member =>  {%>
                <tr>
                  <th scope="row"><%= member.rank %></th>
                  <td><%= member.name %></td>
                  <td><%= member.pos %></td>
                  <td><%= member.role %></td>
                  <td><%= member.joined %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <hr />
            <% }) %>
        </div>
    </div>
</div>